body{
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    font-size: 23px;
}

h2{
    background-color: lightgray;
    font-size: 16px;
}

h3{
    margin-bottom: 0px;
}

h4{
    font-size: 12px;
    margin-bottom: 0;
}

ul{
    margin-top: 2px;
    padding-left: 18px;
    
}

li{
    padding-bottom: 5px;
    padding-left: 10px;
}

#ref-contain{
    font-size: 12px;
}